<header class="site-header">
    <div class="container">
        <h1 class="logo">📚 WOLVERHAMPTON UNIVERSITY OPENDAY</h1>
        <nav class="main-nav">
            <ul>
                <li><a href="search.php">OUR COURSES</a></li>
            </ul>
        </nav>
    </div>
</header>
