<footer class="site-footer">
   <nav class="main-nav">
            <ul>
                <li><a href="index.php"> HomePage</a></li>
                <li><a href="register.php">Register</a></li> 
                <li><a href="campus_tour_details.php">Campus Tour</a></li>
                <li><a href="event_schedules.php">Event Schedule</a></li>
                <li><a href="university_life.php">University Life</a></li>
            </ul>
        </nav>
    </div>

</footer>
